# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.mll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
*.suo
*.db
*.VC.dp
*.idb
*.opendb
*.log
*.pdb
*.ilk
*.exp

ArikaraSkinEditor/debug/
ArikaraSkinEditor/release/
ArikaraSkinEditor/Debug2017/
ArikaraSkinEditor/Release2017/
ArikaraSkinEditor/Debug2018/
ArikaraSkinEditor/Release2018/

**makefile*
